@viewport {
  width: device-width ;
  zoom: 1.0 ;
}

/* color de fondo*/
body {
    font-family: "sans";
    color: #3e1803;
    background-color: ivory;
    height: 100%;
    margin: 0px;
    padding: 0px;
}

.sal {
    background-image: url('./img/res/sal.png');
    background-repeat: cover;
    font-family: "sans";
    font-size: xx-large;
    height: 100%;
    margin: 0px;
    padding: 0px;
}

@keyframes sali {
    from {width: 90%; padding: 3px 2px 10px 4px ;  margin: 50px 30px 20px 10px; }
    to {width: 10%;   padding: 15% 10% 50px 5%;  margin: 100px 40px 60px 100px; }
}

.sali{
    color: white;
    background-image: url('./img/res/fsal.png');
    padding: 15% 10% 50px 5%;
    margin: 100px 40px 60px 100px; 
    width: 10%;
    animation-name: sali;
    animation-duration: 3s;

}
.sali a{
    letter-spacing: 10px;
    color: white; 
}
.sali a:hover{
    color: white; 
    font-size: 40px;
}

/* ARRIBA */
@keyframes head {
  from { transform: rotateY(150deg);}
  to {transform: rotateY(0deg);}
}

#header{
    z-index:-1111999;
    width: 10%;
    max-width: 10%;    
    text-align: center;
    font-size: 20px;
    padding: 2px 0px 2px 0px !important;
    top: 0;
    float: left;
    animation-name: head;
    animation-duration: 2s;
}

img.headr {
    padding-left: 10px !important;
    vertical-align: middle;
    display: table-cell;
    height: 100px;
}

.headrimg {
    float:left;
    overflow-y:hidden;
}

.headrtxt{
    float:left;
    width:75%;
    overflow:hidden;
}


/* MENU */

.menu{
    width: 100%;
    max-width: 100%;    
    background-color: ivory;
    text-align: left;
    padding: 10px 0px 10px 0px !important;
    top: 0;
    position: sticky;
    opacity: 1.0;
    font-size: 12px;
    white-space: nowrap;
    overflow: scroll;
    border-bottom: 2px solid black;
    
    
    /* Hide scrollbar for IE, Edge and Firefox */
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

/* Hide scrollbar for Chrome, Safari and Opera */
#menu::-webkit-scrollbar {
    display: none;
}


.e-menu,a{

    text-decoration: none;
    color: black;
}

.e-menu{
    border-bottom: 1px solid black;
    display: inline;
    padding: 10px 10px 10px 10px;
    margin-top: 10px;
}

.e-menu:hover{
    background-color: black;
    color: ivory;
    opacity: 1;
}






/* CONTENIDO */
a{
    font-weight: bold;
    color: #852703;
}
a:hover{
    font-weight: bold;
    color: #3e1803;
}

#content{
    min-height: 100vh;
    width: 95%;
    margin: auto;
    padding: 10px 0px 10px 0px;
    background-image:	linear-gradient(90deg, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 1%, rgba(255,255,255,1) 99%, rgba(255,255,255,0) 100%);
}

.cm0{ /*todo el link*/
    color: #111155;
    background-color: lightyellow;
    padding-bottom: 10px;
    border-bottom: solid 1px #c4c4c4;

}

.cm0 a{
    color: black;
}
.cm0:hover{ /*todo el link*/
    background-color: #cdcdff;
}

.ln0{ /*todo el link*/
    background-color: ivory;
    border-right: solid 1px #dddddd;
    border-bottom: solid 1px #dddddd;
    padding: 3px 6px 3px 6px;
    margin-right: 10px;
    margin-top: 6px;
    margin-bottom: 6px;
}

.ln0:hover{ /*todo el link*/
    background-color: #c7d083;
    border-bottom: solid 1px #dddddd;
    margin-top: 6px;
    margin-bottom: 6px;
}

.amable{
    font-size:12px;
    color: green;
}

.ln1{ /*texto/link mismo*/
    font-size:12px;
    margin-left: 50px;
    color: red;
    margin-top: 3px;
    margin-bottom: 3px;

}

.ln2{ /*boton para dar puntos*/
    padding-top:5px;
    float:left;
}

.ln3{ /*puntos*/
    display:inline;
    padding-right: 10px;
}
.ln4{ /*infoabajo (autor, cat, fecha)*/
    font-size: 11px;
    margin-left: 30px;
}

.ln4 a{
    font-weight: normal;
    text-decoration: none;
}

.eluser{
    background-image: url(./img/res/hdper.png);
    background-repeat: repeat-x;
    float: center;
    height: auto;
    width: 60%;
    min-width: 300px;
    margin: auto;
    border: 6px solid red;
    padding: 20px;
}

.elgrupo{
    background-image: url(./img/res/hdgru.png);
    background-repeat: repeat-x;
    float: center;
    height: auto;
    width: 60%;
    min-width: 300px;
    margin: auto;
    border: 6px solid #331102;
    padding: 20px;
}

.ellink{
    background-image: url(./img/res/hdlnk.png);
    background-repeat: repeat-x;
    float: center;
    height: auto;
    width: 60%;
    min-width: 300px;
    margin: auto;
    border: 6px solid #331102;
    padding: 20px;
}

.lacat{
    background-image: url(./img/res/hdcat.png);
    background-repeat: repeat-x;
    float: center;
    height: auto;
    width: 60%;
    min-width: 300px;
    margin: auto;
    border: 6px solid #331102;
    padding: 20px;
}

.nllink{
    background-image: url(./img/res/hdnlk.png);
    background-repeat: repeat-x;
    float: center;
    height: auto;
    width: 60%;
    min-width: 300px;
    margin: auto;
    border: 6px solid #434343;
    padding: 8px 20px 0px 20px;
}
.nlink,h1{
    background-image: linear-gradient(to right,rgba(255,255,255,0.8),rgba(255,255,255,0.0));
    width: 50%;
    padding: 0px 0px 0px 0px;
    
}

.perfil{
    background-image: url(./img/res/hdper.png);
    background-repeat: repeat-x;
    float: center;
    height: 150px;
    width: 60%;
    min-width: 300px;
    margin: auto;
    border: 6px solid #331142;
    padding: 20px;
}
.perfiltxt{
    padding-top: 30px;
}
.perfilopc{
    float: center;
    height: 150px;
    width: 60%;
    min-width: 300px;
    margin: auto;
    border: 3px solid #331102;
    padding: 20px;
}
.imag{
    float:right;
    max-width: 40%;
    border: 1px solid #331102;
    margin-right: 10px;

}
.bio{
    padding-left: 50px;
}
.bio2{
    font-size: 11px;
    padding-left: 50px;
}

.vermas{
    float:left;
    width:50%;
    text-align: center;
    font-family: monospace;
    border: 1px solid darkred;
    
}
/* PIE */


#footer{
    border-top: 6px solid #331102;
    width: 100%;
    height: 60px;
    margin: -20px 0px 0px 0px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #0f0211;
    position: relative;
    bottom: 0;
    color: #c7d083;
    font-size:12px;
    text-align: center;
}









/* div.base{ */
/*     color: black; */
/*     font-family: "mtf"; */

/* } */
/* div.cont{ */
/*     margin: auto; */
/*     width: 90%; */
/*     max-width: 1000px; */
/* } */

/* #footer{ */
/* } */

/* /\* links barra (normal y con cursor encima)*\/ */
/* div.menu a,{   */
/*     color: #d8f1a0 !important; */
/* } */






/* /\* todos los links (normal y con cursor arriba) *\/ */


/* /\* código *\/ */
/* pre{ */
/*     overflow-x: hidden; */
/* } */


/* /\* SYSTEM CSS *\/ */
/* img{ */
/*     max-width: 100%; */
/* } */

textarea#n_com {
    width: 90%;
    height: 100px;
    border: 2px solid #cccccc;
    background-image: linear-gradient(to bottom right, #ffffff,#cccccc);
    padding: 5px;
    font-family: Tahoma, sans-serif;
}
